body {
	background-image:url("Image/bgawan.jpeg");
	background-size:100% 100%;
	margin:auto;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

* {
	text-decoration: nome;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family:'Open Sans', sans-serif;
}

.wrapper {
	width: 1100px;
	margin:auto;
}

.logo a {
	font-size: 50px;
	font-weight:800;
	float: left;
	padding-left:100px;
	padding-top:5px;
	font-family: courier;
	color: #F0F8FF;
	background:transparent;
}

.logo a {
	text-decoration:underline;
}

nav ul {
	list-style-type: none;
	margin:20px;
	padding:0;
	overflow: hidden;
}

nav ul li {
	float:right;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-align:center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}
	
label {
	font-family:comic sans ms;
	font-size:20pt;
	margin:10px;
	padding:5px;
	float:left;
}

.ying {
	font-family:tahoma;
	font-weight:bold;
	height:70px;
	width:100%;
	background:#FFC0CB;
	border-radius:5px;
	font-size:18px;
}

.ying ul {
	margin:0;
	padding:5px;
	padding-right:50px;
	background:none;
	display:block;
	float:right;
}

.ying ul li {
	list-style:none;
	display:inline-block;
}

.ying ul li a {
	display:block;
	text-decoration:none;
	padding:20px;
	color:white;
}

.ying ul li a:hover {
	display:block;
	color:#E0FFFF;
	background:#ADD8E6;
	box-shadow:inset 0px 0px 5px #000;
}

h1 {
	margin:35vh;
	display:grid;
	place-items:center;
}

h1 {
	font-size:75px;
	font-family:georgia;
	font-weight:bold;
	color:#F5FFFA;
}

h2 {
	font-size:40px;
	font-family:georgia;
	font-weight:bold;
	color:#87CEFA;
}

h2 {
	margin:5vh;
	display:grid;
	place-items:center;
}

h3 {
	font-size:30px;
	font-family:times new romans;
	color:grey;
}

p {
	font-size:20px;
	font-family:calibri;
	color:black;
}

.tombol ul li {
	display:flex;
	justify-content:center;
	align-items:center;
}

.tombol button {
	margin:o 15px;
	padding:5px 0;
	width:150pt;
}


.page {
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:75vh;
}
.niya {
	display:flex;
	justify-content:center;
	align-items:center;
}

.niya {
	width:50px;
	height:50px;
	margin:30 0;
	width:50px;
	height:100%;
	background:transparent;
	border:none;
	outline:none;
	border:2px solid rgba(255, 255, 255, .2);
	border-radius:40px;
	padding:20px 45px 20px 20px;
	font-size:17px;
	border-color:grey;
}

.cat {
	width:450px;
	background:transparent;
	border:2px solid rgba(255, 255, 255, .2);
	backdrop-filter:blur(10px);
	box-shadow:0 0 10px rgba(0, 0, 0, .1);
	color:black;
	border-radius:10px;
	padding:30px 40px;
	border-color:grey;
}

.cat .niya {
	width:90%;
	height:20px;
	margin:30 0;
}

.niya input {
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	outline:none;
	border:2px solid rgba(255, 255, 255, .2);
	border-radius:10px;
	padding:20px 45px 20px 20px;
	font-size:17px;
	border-color:grey;
}
